
RewriteEngine On
RewriteCond %{REQUEST_FILENAME}% !-f
RewriteCond %{REQUEST_FILENAME}% !-d

RewriteRule chi-tiet-tin/(.*)/([0-9]+).html index.php?controller=news&action=detail&title=$1&i=$2
RewriteRule danhmuc(.*).html index.php?controller=Danhmuc&name=$1
RewriteRule danhmuc(.*)-p([0-9]+).html index.php?controller=Danhmuc&name=$1&page=$2
RewriteRule news.html index.php?controller=news&action=index
RewriteRule tt-(.*)/([0-9]+).html index.php?controller=news&action=detail&id=$2
RewriteRule tin-tuc-24h-p([0-9]+).html index.php?controller=news&action=news24h&page=$1
# Rewrite cho trang login
RewriteRule login.html index.php?controller=customer&action=login
# Rewrite cho trang register
RewriteRule register.html index.php?controller=customer&action=register
# Rewrite cho trang register
RewriteRule logout.html index.php?controller=customer&action=logout
RedirectMatch 403 ^/backend/assets/images/?$
RedirectMatch 403 ^/backend/assets/?$
ErrorDocument 404 /index.php?controller=home&action=khongtimthay